

<div class="row">
 <div class="col-sm-4">
   <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),html: {class: "well"}) do |f| %>
  
   <fieldset>
    <legend>Sign In</legend>
  
     <%= f.input :email , class: "form-control" %>
     <%= f.input :password, class: "form-control" %>

       <% if devise_mapping.rememberable? -%>
     
          <div>
             <%= f.input :remember_me, as: :boolean %>
           </div>
  
       <% end %>

          <div class="actions">
              <%= f.button :submit ,"Sign In", class: "btn btn-success"%>
          </div>

   </fieldset>

   <% end %>


        <br />

       <%= render "devise/shared/links" %>
 </div>

          <div class="col-sm-8">
               <h2>Signining is secure</h2>
          </div>
</div>